<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summer.tree.dao.TreeinfoMapper">
    <resultMap id="BaseResultMap" type="com.summer.tree.pojo.Treeinfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="number" jdbcType="VARCHAR" property="number"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="distribution" jdbcType="VARCHAR" property="distribution"/>
        <result column="family" jdbcType="VARCHAR" property="family"/>
        <result column="genus" jdbcType="VARCHAR" property="genus"/>
        <result column="species" jdbcType="VARCHAR" property="species"/>
        <result column="alias" jdbcType="VARCHAR" property="alias"/>
        <result column="latin" jdbcType="VARCHAR" property="latin"/>
        <result column="place_name" jdbcType="VARCHAR" property="placeName"/>
        <result column="specific_place_name" jdbcType="VARCHAR" property="specificPlaceName"/>
        <result column="growth_field" jdbcType="VARCHAR" property="growthField"/>
        <result column="longitude" jdbcType="VARCHAR" property="longitude"/>
        <result column="latitude" jdbcType="VARCHAR" property="latitude"/>
        <result column="ownership" jdbcType="VARCHAR" property="ownership"/>
        <result column="form" jdbcType="VARCHAR" property="form"/>
        <result column="planter" jdbcType="VARCHAR" property="planter"/>
        <result column="plant_time" jdbcType="VARCHAR" property="plantTime"/>
        <result column="estimate_age" jdbcType="VARCHAR" property="estimateAge"/>
        <result column="real_age" jdbcType="VARCHAR" property="realAge"/>
        <result column="height" jdbcType="DOUBLE" property="height"/>
        <result column="bust" jdbcType="VARCHAR" property="bust"/>
        <result column="average" jdbcType="DOUBLE" property="average"/>
        <result column="ns" jdbcType="DOUBLE" property="ns"/>
        <result column="ew" jdbcType="DOUBLE" property="ew"/>
        <result column="growth_condition" jdbcType="VARCHAR" property="growthCondition"/>
        <result column="environmental" jdbcType="VARCHAR" property="environmental"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
        <result column="keep_unit" jdbcType="VARCHAR" property="keepUnit"/>
        <result column="keeper" jdbcType="VARCHAR" property="keeper"/>
        <result column="protect" jdbcType="VARCHAR" property="protect"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
        <result column="environmental_factor" jdbcType="VARCHAR" property="environmentalFactor"/>
        <result column="curing" jdbcType="VARCHAR" property="curing"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="inquiry_time" jdbcType="VARCHAR" property="inquiryTime"/>
        <result column="likes" jdbcType="BIGINT" property="likes"/>
        <result column="status" jdbcType="BOOLEAN" property="status"/>
        <result column="isdraw" jdbcType="VARCHAR" property="isdraw"/>
        <result column="pictureurl" jdbcType="VARCHAR" property="pictureurl"/>
        <result column="zxingurl" jdbcType="VARCHAR" property="zxingurl"/>
    </resultMap>
    <sql id="Base_Column_List">
   id, `number`, `type`, distribution, family, genus, species, `alias`, latin, place_name,
    specific_place_name, growth_field, longitude, latitude, ownership, form, planter,
    plant_time, estimate_age, real_age, height, bust, average, ns, ew, growth_condition,
    environmental, remarks, detail, keep_unit, keeper, protect, reason, environmental_factor,
    curing, create_time, inquiry_time, likes, status, isdraw, pictureurl, zxingurl
  </sql>

    <resultMap id="treeinfoVoMap" type="com.summer.tree.vo.TreeinfoVo">
        <association property="treeinfo" javaType="com.summer.tree.pojo.Treeinfo">
            <id column="id" property="id"/>
            <result column="number" jdbcType="VARCHAR" property="number"/>
            <result column="type" jdbcType="INTEGER" property="type"/>
            <result column="distribution" jdbcType="VARCHAR" property="distribution"/>
            <result column="family" jdbcType="VARCHAR" property="family"/>
            <result column="genus" jdbcType="VARCHAR" property="genus"/>
            <result column="species" jdbcType="VARCHAR" property="species"/>
            <result column="alias" jdbcType="VARCHAR" property="alias"/>
            <result column="latin" jdbcType="VARCHAR" property="latin"/>
            <result column="place_name" jdbcType="VARCHAR" property="placeName"/>
            <result column="specific_place_name" jdbcType="VARCHAR" property="specificPlaceName"/>
            <result column="growth_field" jdbcType="VARCHAR" property="growthField"/>
            <result column="longitude" jdbcType="VARCHAR" property="longitude"/>
            <result column="latitude" jdbcType="VARCHAR" property="latitude"/>
            <result column="ownership" jdbcType="VARCHAR" property="ownership"/>
            <result column="form" jdbcType="VARCHAR" property="form"/>
            <result column="planter" jdbcType="VARCHAR" property="planter"/>
            <result column="plant_time" jdbcType="VARCHAR" property="plantTime"/>
            <result column="estimate_age" jdbcType="VARCHAR" property="estimateAge"/>
            <result column="real_age" jdbcType="VARCHAR" property="realAge"/>
            <result column="height" jdbcType="DOUBLE" property="height"/>
            <result column="bust" jdbcType="VARCHAR" property="bust"/>
            <result column="average" jdbcType="DOUBLE" property="average"/>
            <result column="ns" jdbcType="DOUBLE" property="ns"/>
            <result column="ew" jdbcType="DOUBLE" property="ew"/>
            <result column="growth_condition" jdbcType="VARCHAR" property="growthCondition"/>
            <result column="environmental" jdbcType="VARCHAR" property="environmental"/>
            <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
            <result column="detail" jdbcType="VARCHAR" property="detail"/>
            <result column="keep_unit" jdbcType="VARCHAR" property="keepUnit"/>
            <result column="keeper" jdbcType="VARCHAR" property="keeper"/>
            <result column="protect" jdbcType="VARCHAR" property="protect"/>
            <result column="reason" jdbcType="VARCHAR" property="reason"/>
            <result column="environmental_factor" jdbcType="VARCHAR" property="environmentalFactor"/>
            <result column="curing" jdbcType="VARCHAR" property="curing"/>
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="inquiry_time" jdbcType="VARCHAR" property="inquiryTime"/>
            <result column="likes" jdbcType="BIGINT" property="likes"/>
            <result column="status" jdbcType="BOOLEAN" property="status"/>
            <result column="isdraw" jdbcType="VARCHAR" property="isdraw"/>
            <result column="pictureurl" jdbcType="VARCHAR" property="pictureurl"/>
            <result column="zxingurl" jdbcType="VARCHAR" property="zxingurl"/>
        </association>
        <association property="preparer" javaType="com.summer.tree.pojo.Preparer">
            <result column="name" property="name"></result>
            <result column="phone" property="phone"></result>
            <result column="email" property="email"></result>
            <result column="ptime" property="createTime"></result>
        </association>
    </resultMap>

    <update id="UpdateLikeAdd" parameterType="Integer">
        update tree_info set tlike=tlike+1 where id=#{id}
    </update>
    <update id="UpdateLikeDelete" parameterType="Integer">
        update tree_info set likes=likes-1 where id=#{id}
    </update>
    <update id="CheckPass" parameterType="string">
        update tree_info set status = 2 ,zxingurl = url where id = #{id}
    </update>
    <delete id="CheckDown" parameterType="long">
        delete from tree_info where id = #{id}
    </delete>
    <select id="SelectByTreeid" resultType="com.summer.tree.pojo.Treeinfo" parameterType="long">
        select
            *
        from
            tree_info
        where
            id=#{id}
    </select>
    <select id="SelectCount" resultType="Integer">
        select
            count(1)
        from
            tree_info
    </select>
    <select id="SelectAllTree" resultType="com.summer.tree.pojo.Treeinfo">
        select
            *
        from
            tree_info
        where
            status = 2
    </select>

    <select id="SelectTreesByLongitudeAndLatitude" resultType="com.summer.tree.pojo.Treeinfo">
        select
            *
        from
            tree_info
        where
            longitude like concat(#{longitude},'%')
        and
            latitude like concat(#{latitude},'%')
        and
            status = 2
    </select>
    <select id="SelectAllCheckTree" resultMap="treeinfoVoMap">
       SELECT t.*,p.name ,p.phone,p.email , p.create_time as ptime
        from tree_info t
        left join preparer_tree pt on t.id = pt.tid
        left join preparer p on p.id = pt.pid
        where t.status = 0 or t.status = 1
    </select>
    <select id="CheckStatus" resultType="java.lang.Long" parameterType="long">
        SELECT p.oldid
        from tree_info t
        left join preparer_tree pt on t.id = pt.tid
        left join preparer p on p.id = pt.pid
        where t.id = #{id}
    </select>
</mapper>